{%load plotly_dash%}
<div class="post-preview">

            <h5 class="post-title">
              <i class="fas fa-chart-bar"></i> Global number of Covid-19 cases per day. Use
                <font color="red"> <i class="fas fa-angle-left"> </i> <i class="fas fa-angle-double-left"></i> 1 <i class="fas fa-angle-double-right"></i> <i class="fas fa-angle-right"></i> </font> at the bottom right of the table to navigate through table
                and observe the visualization on the bar chart
            </h5>
            <div class="{% plotly_class name='table_chart'%} card" style="height:100%; width:100%">

                {% plotly_app name="table_chart" ratio=2 %}
            </div>


          <br>
          <p class="post-meta"> Automatically
            <a href="#">Updated Daily</a>
            on {{date}}
         <br>
          Use  <i class="fas fa-angle-left"> </i> <i class="fas fa-angle-double-left"></i> 1 <i class="fas fa-angle-double-right"></i> <i class="fas fa-angle-right"></i> at the bottom right of the table above
         to navigate through countries and observe bar chart.
          </p>
        </div>


